<app-header></app-header>

<div class="container mt-5">
    <div class="row">
        <div [ngStyle]="{backgroundImage: 'url(' + product?.imgUrl + ') '}" class="col-lg-5 mt-5 productImg"></div>
        <div class="col-lg-7 mt-5 ">
            <h4>{{product?.name}}</h4>
            <p class="pt-3 colRed font-weight-bold">Prezzo: <span>{{product?.price}}</span> €</p>
            <div class="pt-3 pb-5">
                <button (click)="addToCart(product)">Add to cart</button>
            </div>
            <p class="font-weight-bold">Description</p>
            <p>{{product?.description}}</p>
        </div>
    </div>
</div>

<app-footer></app-footer>