@import '../../../assets/styles/variables';

.productImg {
  background-image: url(../../../assets/images/mascherinaBlu.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 30%;
  height: 500px;
}

.colRed {
  font-size: 1.3rem;
}

button {
  border: none;
  background-color: $black;
  color: $white;
  padding: 10px 20px;
}

input {
  margin-left: 20px;
  padding: 8px 10px;
}

.col-lg-7 {
  padding-left: 50px;
}
