<app-header></app-header>

<div class="container mt-5">
    <h3 class="pt-3">Cart</h3>
    <div class="row">
        <div class="col-lg-6 mb-4"></div>
        <div class="col-lg-2 mb-4">
            <h6>Price</h6>
        </div>
        <div class="col-lg-2 mb-4">
            <h6>Quantity</h6>
        </div>
        <div class="col-lg-2 mb-4">
            <h6>Total</h6>
        </div>
    </div>

    <div class="row singleItem">
        <div class="col-lg-6 productDetail">
            <div class="imgCont"></div>
            <h6 class="pl-5">Nome Prodotto + img</h6>
        </div>
        <div class="col-lg-2">30.00 €</div>
        <div class="col-lg-2">
            <input type="number" placeholder="1">
        </div>
        <div class="col-lg-2">30.00 €</div>
    </div>

    <div class="row singleItem">
        <div class="col-lg-6 productDetail">
            <div class="imgCont"></div>
            <h6 class="pl-5">Nome Prodotto + img</h6>
        </div>
        <div class="col-lg-2">30.00 €</div>
        <div class="col-lg-2">
            <input type="number" placeholder="1">
        </div>
        <div class="col-lg-2">30.00 €</div>
    </div>

    <div class="row singleItem">
        <div class="col-lg-6 productDetail">
            <div class="imgCont"></div>
            <h6 class="pl-5">Nome Prodotto + img</h6>
        </div>
        <div class="col-lg-2">30.00 €</div>
        <div class="col-lg-2">
            <input type="number" placeholder="1">
        </div>
        <div class="col-lg-2">30.00 €</div>
    </div>

    <div class="total pt-4 mb-3">
        <h5 class="font-weight-bold">Total :</h5>
        <h5 class="colRed pl-3">649 €</h5>
    </div>
    <div class="addProdBtn mt-3">
        <i class="fas fa-shopping-bag"></i>
        <p class="mb-0 ml-2 font-weight-bold">Check Out</p>
    </div>
</div>

<app-footer></app-footer>