@import '../../../assets/styles/variables';

.singleItem {
  border-top: 1px solid $gray;
  //border-bottom: 1px solid $gray;
  padding: 20px 0;

  .productDetail {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .imgCont {
    width: 200px;
    height: 200px;
    background-image: url(../../../assets/images/t-shirt.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.addProdBtn {
  padding: 15px 20px;
  border: 1px solid $black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  transition: .3s ease-in;
  cursor: pointer;


  &:hover {
    background-color: $black;
    color: $white;
  }
}

.total {
  border-top: 2px solid $black;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  h5:first-of-type {
    margin-left: 15px;
  }
}
