@import '../../../assets/styles/variables';

.singleItem {
  border-top: 1px solid $gray;
  //border-bottom: 1px solid $gray;
  padding: 20px 0;

  .productDetail {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .imgCont {
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &--1 {
      background-image: url(../../../assets/images/t-shirt.jpg);
    }

    &--2 {
      background-image: url(../../../assets/images/cappello_2.jpg);
    }

    &--3 {
      background-image: url(../../../assets/images/felpa_azzurra.jpg);
    }
  }

  .remove a {
    cursor: pointer;
    color: $lightRed;
    border: 1px solid $lightRed;
    padding: 10px;
    transition: .3s ease-in;

    &:hover {
      background-color: $lightRed;
      color: $white;

    }
  }

  .remove span {
    margin-left: 5px;
    font-weight: 500;
  }
}

.form-group {
  input .form-control {
    outline: none !important;
  }

  button {
    background-color: $white !important;
    padding: 15px 20px;
    border: 1px solid $black;
    width: 200px;
    transition: .3s ease-in;
    cursor: pointer;
    margin: 30px auto;

    &:hover {
      background-color: $black !important;
      color: $white;

    }
  }
}
