<app-header></app-header>

<div class="container mt-5">
    <h3 class="pt-3">Admin</h3>
    <div class="row">
        <div class="col-lg-6 mb-4"></div>
        <div class="col-lg-2 mb-4">
            <h6>Price</h6>
        </div>
        <div class="col-lg-2 mb-4"></div>
        <div class="col-lg-2 mb-4"></div>
    </div>

    <div class="row singleItem">
        <div class="col-lg-6 productDetail">
            <div class="imgCont"></div>
            <h6>Nome Prodotto + img</h6>
        </div>
        <div class="col-lg-2">30.00 €</div>
        <div class="col-lg-2"></div>
        <div class="col-lg-2 remove">
            <a><i class="fas fa-times"><span>Remove</span></i></a>
        </div>
    </div>

    <div class="row singleItem">
        <div class="col-lg-6 productDetail">
            <div class="imgCont"></div>
            <h6>Nome Prodotto + img</h6>
        </div>
        <div class="col-lg-2">30.00 €</div>
        <div class="col-lg-2"></div>
        <div class="col-lg-2 remove">
            <a><i class="fas fa-times"><span>Remove</span></i></a>
        </div>
    </div>

    <div class="row singleItem">
        <div class="col-lg-6 productDetail">
            <div class="imgCont"></div>
            <h6>Nome Prodotto + img</h6>
        </div>
        <div class="col-lg-2">30.00 €</div>
        <div class="col-lg-2"></div>
        <div class="col-lg-2 remove">
            <a><i class="fas fa-times"><span>Remove</span></i></a>
        </div>
    </div>

    <div class="addProdBtn mt-3">
        <i class="fas fa-plus"></i>
        <p class="mb-0 ml-2 font-weight-bold">Add product</p>
    </div>
</div>

<app-footer></app-footer>