<h4 class="pt-5">Admin form</h4>
<form (ngSubmit)="onSubmit()" class="col-12">
    <div class="form-group">
        <input [(ngModel)]="product.name" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="Product name">
    </div>
    <div class="form-group">
        <input [(ngModel)]="product.category" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="Product category">
    </div>
    <div class="form-group">
        <input [(ngModel)]="product.imgUrl" [ngModelOptions]="{standalone: true}" type="file" class="form-control" placeholder="Product imgUrl">
    </div>
    <div class="form-group">
        <input [(ngModel)]="product.description" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="Product description">
    </div>
    <div class="form-group">
        <input [(ngModel)]="product.price" [ngModelOptions]="{standalone: true}" type="number" class="form-control" placeholder="Product price">
    </div>
    <div class="form-group">
        <button type="submit">Add product</button>
    </div>
</form>
