@import '../../../assets/styles/variables';

// HERO
.hero {
  width: 100%;
  height: 750px;
  background: linear-gradient(#708a964f, #9198e536), url(../../../assets/images/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;

  &__cta {
    //background-color: red;
    position: relative;
    width: 600px;
    top: 40%;
    left: 11%;
    color: $white;

    &__btnCont {
      button {
        outline: none;
        margin-top: 20px;
        color: $black;
        border: none;
        width: 200px;
        padding: 15px 0;
        font-size: 1.2rem;


        &:first-of-type {
          margin-right: 20px;
          background-color: $white;
        }

        &:nth-child(2) {
          border: 3px solid $white;
          background-color: transparent;
          color: $white;
        }
      }
    }
  }
}


// ICON BOX
.iconCont {
  position: relative;
  background-color: $lightBlue;
  width: 100%;
  height: auto;
  top: -50px;
}

.fourColCont {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;

  &__item {
    i {
      color: $gray;
      font-size: 1.7rem;
    }
  }
}

// HERO + ICON BOX QUERY
@media (max-width: 768px) {
  .iconCont {
    .fourColCont {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 540px) {
  .hero {
    &__cta {
      width: 100%;
    }
  }
}

// CARD

.cardItem {
  .imgCont {
    background-image: url(../../../assets/images/mascherinaBlu.jpg);
    width: 100%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  button {
    border: 1px solid $black;
    background-color: transparent;
    color: $black;
    outline: none;
    color: $black;
    width: 100%;
    padding: 15px 0;
    font-size: 1.2rem;
    transition: .3s ease-in;

    &:hover {
      background-color: $black;
      color: $white;
      border: none;
    }
  }
}

.goToShop {
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
  font-size: 1.2rem;

  a {
    color: $lightRed;
    text-decoration: none;
  }
}
