<app-header></app-header>

<div class="hero">
    <div class="hero__cta">      
        <h1 class="font-weight-bold">The ocean is calling us</h1>
        <div class="hero__cta__btnCont">
            <button routerLink="/shop" class="font-weight-bold">Shop</button>
            <button class="font-weight-bold">Volunteering</button>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="iconCont pt-5 pb-5">
                <h3 class="ml-5">What we fight for</h3>
                <div class="fourColCont">
                    <div class="fourColCont__item mt-4 ml-5 mr-5">
                        <i class="fas fa-wine-bottle mb-4"></i>
                        <h5 class="font-weight-bold">Plastic Pollution</h5>
                        <p>Reducing the impact of plastics in the marine environments that surround us.</p>
                    </div>
                    <div class="fourColCont__item mt-4 ml-5 mr-5">
                        <i class="fas fa-water mb-4"></i>
                        <h5 class="font-weight-bold">Ocean Protection</h5>
                        <p>Defending our oceans from challenges threatening the vitality of the ecosystem.</p>
                    </div>
                    <div class="fourColCont__item mt-4 ml-5 mr-5">
                        <i class="fas fa-umbrella-beach mb-4"></i>
                        <h5 class="font-weight-bold">Beach Access</h5>
                        <p>Working with decision-makers to ensure full and fair beach access for all to enjoy.</p>
                    </div>
                    <div class="fourColCont__item mt-4 ml-5 mr-5">
                        <i class="fas fa-tint mb-4"></i>
                        <h5 class="font-weight-bold">Clean Water</h5>
                        <p>Protecting the health and sustainability of our planet's most precious resource.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-9 mt-5 mb-5">
            <h3>
                OLADELMAR is dedicated to the protection and enjoyment of the world’s ocean, waves and beaches, for all people, through a powerful activist network.
            </h3>
        </div>
    </div>
</div>

<section class="cardSection mt-5">
    <div class="container">
        <h3>Last arrivals</h3>
        <h5>100% of every purchase helps protect our coasts, waves and beaches.</h5>
        <div class="row mt-5">
            <div class="col-lg-3 col-md-6 col-sm-12 mb-3 cardItem">
                <div class="imgCont"></div>
                <h5 class="pt-3 pb-1">Article title</h5>
                <p class="mt-0 mb-0 pb-3">10€</p>
                <button>Add to Cart</button>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 mb-3 cardItem">
                <div class="imgCont"></div>
                <h5 class="pt-3 pb-1">Article title</h5>
                <p class="mt-0 mb-0 pb-3">10€</p>
                <button>Add to Cart</button>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 mb-3 cardItem">
                <div class="imgCont"></div>
                <h5 class="pt-3 pb-1">Article title</h5>
                <p class="mt-0 mb-0 pb-3">10€</p>
                <button>Add to Cart</button>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 mb-3 cardItem">
                <div class="imgCont"></div>
                <h5 class="pt-3 pb-1">Article title</h5>
                <p class="mt-0 mb-0 pb-3">10€</p>
                <button>Add to Cart</button>
            </div>
        </div>
        
        <div class="goToShop mt-5">
            <a routerLink="/shop" class="font-weight-bold">Shop All</a>
        </div>
    </div>
</section>

<app-footer></app-footer>
