<div class="topBar">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p>Free shipping from 80€</p>
      </div>
    </div>
  </div>
</div>
<div class="header">
  
    <div class="header__logo">
      <a routerLink="">
        <img src="../../../assets/images/logo.png" width="190px" height="71px" alt="logo">
        
      </a>
    </div>

    <ul class="{{this.hamburgerMenuOpen ? 'header__menu--open' : 'header__menu'}}">
      <li><a>About</a></li>
      <li routerLink="/shop"><a>Shop</a></li>
      <li><a>Contact</a></li>

      
      <li id="activeMobile2" class="{{this.hamburgerMenuOpen ? 'showMobile' : 'hideDesktop'}} activeMobile">
        <a>Admin</a>
      </li>
      <li id="activeMobile1" class="{{this.hamburgerMenuOpen ? 'showMobile' : 'hideDesktop'}}">
        <a>Cart</a>
      </li>
    </ul>
    <div class="header__cta">
      <i routerLink="/admin" class="fas fa-users-cog"></i><span><a routerLink="/admin">Admin</a></span>

      <a routerLink="/cart" class="header__cta--btn">
        <p>Cart</p>
        <div class="circle">
          <p>2</p>
        </div>
      </a>
    </div>


    <div (click)="this.clickMenu()" class="hamburger">
      <!--<i class="fas fa-bars"></i>-->
      <i class="{{this.hamburgerMenuOpen ? 'fas fa-times' : 'fas fa-bars'}}"></i>
    </div>
  
  </div>