<footer class="footer">
    <div class="footer__logoContainer">
      <!--<img  src="../../../../assets/img/logo.png" width="100%" height="auto" alt="">-->
      <h4>OlaDelMar</h4>
    </div>

    <div class="footer__container">
      <div class="footer__container__col footer__container__col--1">

        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus, voluptate! Eius, commodi
          aspernatur. Velit aspernatur dolor, possimus quam et esse sit quaerat officia, nostrum voluptatibus
          eligendi quos, voluptas totam tempore!</p>
      </div>
      <div class="footer__container__col footer__container__col--2">
        <div class="smallCol">
          <a>Our Location</a>
          <a>Career</a>
          <a>About</a>
          <a>Contact</a>
        </div>
        <div class="smallCol">
          <a>Site Map</a>
          <a>Term & Condition</a>
          <a>Privacy Policy</a>
          <a>Help</a>
          <a>Affilliated</a>
        </div>
        <div class="smallCol">
          <a>Site Map</a>
          <a>Term & Condition</a>
          <a>Privacy Policy</a>
          <a>Help</a>
          <a>Affilliated</a>
        </div>
        <div class="smallCol">
          <a>Site Map</a>
          <a>Term & Condition</a>
          <a>Privacy Policy</a>
          <a>Help</a>
          <a>Affilliated</a>
        </div>
      </div>
      <div class="footer__container__col footer__container__col--3">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus, voluptate! Eius, commodi
          aspernatur. Velit aspernatur dolor, possimus quam et esse sit quaerat officia, nostrum voluptatibus
          eligendi quos, voluptas totam tempore!</p>
        <div class="iconsContainer">
          <a href=""><i class="fab fa-twitter"></i></a>
          <a href=""><i class="fab fa-facebook-f"></i></a>
          <a href=""><i class="fab fa-google"></i></a>
          <a href=""><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>

  </footer>