<app-header></app-header>

<section class="cardSection mt-4">
    <div class="container mt-4">
        <h1 class="pt-5 pb-4">Shop</h1>
        <div class="container searchBar pl-0 pt-3 pb-4">
            <div class="row">
                <div class="col-12">
                    <input 
                        type="text" 
                        placeholder="search by name"
                        #myInput
                        [(ngModel)]="name"
                        (input)="Search()"
                    >
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <ng-container *ngIf="products">
                <ng-container *ngFor="let product of products">
                    <div class="col-lg-3 col-md-6 col-sm-12 mb-3 cardItem">
                        <a (click)="sendObjects(product)">
                            <div [ngStyle]="{backgroundImage: 'url(' + product.imgUrl + ') '}" class="imgCont imgCont--1"></div>
                            <h5 class="pt-3 pb-1">{{product.name}}</h5>
                            <p class="mt-0 mb-0 pb-3">{{product.price}} €</p>
                        </a>
                            <button (click)="addToCart(product)">Add to Cart</button> 
                    </div>
                </ng-container>
            </ng-container>
            <ng-container *ngIf="this.loading">
                <div class="loading">
                    <div class="spinner-border" role="status"></div>
                    <h5 class="pt-1">Loading...</h5>
                </div>
            </ng-container>
            
        </div>
          
    </div>  
</section>

<app-footer></app-footer>