@import '../../../assets/styles/variables';

.searchBar {
  input {
    padding: 10px;
    width: 100%;
    border: 2px solid $lightBlue;
    outline: none;
  }

  button {
    outline: none;
    border: none;
    padding: 10px 20px;
    background-color: $lightBlue;
    color: $white;
  }
}

.loading {
  text-align: center;
  margin: 0 auto !important;
}

.spinner-border {
  color: $lightBlue !important;

}

@media (max-width: 540px) {
  .searchBar {
    padding-left: 0 !important;
    padding-right: 0 !important;

    input {
      width: 100%;

      &:last-of-type {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
}

.goToShop {
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
  font-size: 1.2rem;

  i,
  a {
    color: $lightRed;
  }

  a {
    margin-right: 15px;
    margin-left: 15px;
    text-decoration: none;
  }
}
