/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import "@fortawesome/fontawesome-free/css/all.css";
@import 'assets/styles/_variables';
//@import "@fortawesome/fontawesome-free/css/all.css";

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* added later */
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
span {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.7rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 2rem;
  font-weight: 400;
}

h5 {
  font-size: 1.3rem;
  font-weight: 400;
}
